.news-card {
  background: white;
  transition: 0.3s ease;
}
.news-card:hover {
  transform: translateY(-5px);
}

.news-img-box {
  height: 220px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.news-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.news-card:hover img {
  transform: scale(1.05);
}

.no-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  color: #777;
}

.image-badge {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: auto;
}
