.news-card {
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  transition: 0.3s ease;
}

.news-card:hover {
  transform: translateY(-6px);
}

.news-img-box {
  height: 180px;
  overflow: hidden;
}

.news-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

/* Modal */
.custom-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 999;
}

.modal-content-box {
  background: white;
  width: 80%;
  border-radius: 16px;
  overflow: hidden;
  animation: slideUp 0.4s ease;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}
